<html>
<head>
	<title>Form Submission</title>
</head>
<body>
		<form action="../controller/loginCheck.php" method="post" enctype="">
			<fieldset>
				<legend>Sign In</legend>
				<table>
					<tr>
						<td>username</td>
						<td><input type="text" name="username" value=""></td>
					</tr>
					<tr>
						<td>password</td>
						<td><input type="password" name="password" value=""></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="submit" name="" value="Submit">
							<a href="signup.html"> Signup </a>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
</body>
</html>